source https://www.nuget.org/api/v2
framework >= net452

nuget FsCheck 2.6.0
nuget FsCheck.Xunit 2.6.0
nuget FSharp.Core 3.1.2.5
nuget Unquote
nuget xunit 2.1.0
nuget xunit.abstractions 2.0.0
nuget xunit.assert 2.1.0
nuget xunit.core 2.1.0
nuget xunit.extensibility.core 2.1.0
nuget xunit.extensibility.execution 2.1.0
nuget xunit.runner.console 2.1.0